$primary-color: #d87d4a;
$secondary-color: #fbaf85;
$black-shade-1: #101010;
$light-gray: #f1f1f1;
$light-gray-2: #fafafa;
$white: #fff;
$black: #000;
$black-shade-2: #0e0e0e;
// fonts
$manrope: "Manrope",
sans-serif;
* {
    padding: 0;
    margin: 0;
}